# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Environnements virtuels
.venv/
venv/
env/

# Outils
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Secrets
.env

# Données & artefacts générés (on garde la structure via .gitkeep)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
reports/logs/

# Notebooks
.ipynb_checkpoints/

# OS / éditeurs
.DS_Store
.vscode/
.idea/
